#header-container {
    background: url("../images/background.jpg") no-repeat;
    width: 100%;
    height: 795px;
    background-size: 100%;
    background-position: center;
}

#header-name {
    display: inline-block;
    font-family: 'Pacifico', cursive;  
    background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 110px;
    font-weight: 1200;
    padding-bottom: 32px;
    margin-top: 10%;
    margin-left: 5%;
}

#header-description {
    display: inline-block;
    font-family: 'Pacifico', cursive;
    background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);   
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 1200;
    margin-left: 15%;
    padding-bottom: 22px;
}

.profile-pic {
    height: 120px;
    border-radius: 50%;
}

.greetings {
    margin-top: 1%;
}

.about-me {
    width: 40%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}




/* non-specific styling */
.no-spacing {
    padding: 0;
    margin: 0;
}

.text-3 {
    color: #0dcfa2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.text-4{
    color: #1d8e73;
}

.dotted-hr {
    border: dotted #184d4d 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.image-size-1 {
    min-height: 175px;
    max-height: 175px;
    min-width: 250px;
    max-width: 250px;
}

.image-size-2{
    min-height: 200px;
    max-height: 200px;
    min-width: 250px;
    max-width: 250px;
}


.paragraph {
    font-size: 20px;
    line-height: 1.5;
    color: rgba(0, 4, 4, 0.7);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: 200%;
}

.project-description-width {
    width: 60%;
}



a {
    text-decoration: none;
    color: white;
}










/* xxs */
@media screen and (max-width: 575px) {
    #header-container {
        background: url("../images/background.jpg") no-repeat;
        width: 100%;
        height: 850px;
        background-position: 90% bottom !important;
        background-size: cover;
        margin-bottom: 80px !important;
    }
    
    #header-name {
        display: inline-block;
        font-family: 'Pacifico', cursive;  
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);    
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 45px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-top: 10%;
        padding-bottom: 22px;
    }
    
    #header-description {
        display: inline-block;
        font-family: 'Pacifico', cursive;
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);   
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        font-weight: 1200;
        margin-left: 8%;
        padding-bottom: 12px;
    }
    
    .profile-pic {
        height: 120px;
        border-radius: 50%;
    }
    
    .greetings {
        margin-top: 3%;
    }
    
    .about-me {
        width: 75%;
    }
    
    /* extra modified  classes */
    #education-head-container {
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin: 0 !important;
    }

    .pu-college {
        width: 100% !important; 
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin: 0 !important;
    }

    
    /* non-specific styling */
    .no-spacing {
        padding: 0;
        margin: 0;
    }
    
    .text-3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0dcfa2;
    }
    
    .text-4{
        color: #1d8e73;
    }
    
    .dotted-hr {
        border: dotted #184d4d 6px;
        border-bottom: none;
        width: 10%;
        margin: 100px auto;
    }
    
    .image-size-1 {
        min-height: 75px;
        max-height: 75px;
        min-width: 125px;
        max-width: 125px;
    }
    
    .image-size-2{
        min-height: 135px;
        max-height: 135px;
        min-width: 165px;
        max-width: 165px;
    }

    .paragraph {
        font-size: 12px;
        line-height: 1.5;
        color: rgba(0, 4, 4, 0.7);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        word-spacing: 200%;
    }    

    .project-description-width {
        width: 100%;
    }
    
}





/* small */
@media screen and (min-width: 575px) and (max-width: 767px) {
    #header-container {
        background: url("../images/background.jpg") no-repeat;
        width: 100%;
        height: 950px;
        background-position: 90% bottom !important;
        background-size: cover;
        margin-bottom: 80px !important;
    }
    
    #header-name {
        display: inline-block;
        font-family: 'Pacifico', cursive;  
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);    
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 70px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-top: 10%;
        padding-bottom: 22px;
    }
    
    #header-description {
        display: inline-block;
        font-family: 'Pacifico', cursive;
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);   
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 45px;
        font-weight: 1200;
        margin-left: 5%;
        padding-bottom: 12px;
    }
    
    .profile-pic {
        height: 120px;
        border-radius: 50%;
    }
    
    .greetings {
        margin-top: 3%;
    }
    
    .about-me {
        width: 50%;
    }
    
    /* extra modified  classes */
    #education-head-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin: 0 !important;
    }

    .pu-college {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }
    

    /* non-specific styling */
    .no-spacing {
        padding: 0;
        margin: 0;
    }
    
    .text-3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0dcfa2;
    }
    
    .text-4{
        color: #1d8e73;
    }
    
    .dotted-hr {
        border: dotted #184d4d 6px;
        border-bottom: none;
        width: 10%;
        margin: 100px auto;
    }
    
    .image-size-1 {
        min-height: 125px;
        max-height: 125px;
        min-width: 175px;
        max-width: 175px;
        overflow: hidden;
    }
    
    .image-size-2{
        min-height: 145px;
        max-height: 145px;
        min-width: 195px;
        max-width: 195px;
    }
    
    .paragraph {
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 4, 4, 0.7);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        word-spacing: 200%;
    }

    .project-description-width {
        width: 100%;
    }

}





/* medium */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #header-container {
        background: url("../images/background.jpg") no-repeat;
        width: 100%;
        height: 950px;
        background-position: 90% bottom !important;
        background-size: cover;
        margin-bottom: 80px !important;
    }
    
    #header-name {
        display: inline-block;
        font-family: 'Pacifico', cursive;  
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);    
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 80px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-top: 10%;
        padding-bottom: 22px;
    }
    
    #header-description {
        display: inline-block;
        font-family: 'Pacifico', cursive;
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);   
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        font-weight: 1200;
        margin-left: 5%;
        padding-bottom: 12px;
    }
    
    .profile-pic {
        height: 120px;
        border-radius: 50%;
    }
    
    .greetings {
        margin-top: 3%;
    }
    
    .about-me {
        width: 65%;
    }
    
    /* extra modified  classes */
    #education-head-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin: 0 !important;
    }

    .pu-college {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }
    

    /* non-specific styling */
    .no-spacing {
        padding: 0;
        margin: 0;
    }
    
    .text-3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0dcfa2;
    }
    
    .text-4{
        color: #1d8e73;
    }
    
    .dotted-hr {
        border: dotted #184d4d 6px;
        border-bottom: none;
        width: 10%;
        margin: 100px auto;
    }
    
    .image-size-1 {
        min-height: 175px;
        max-height: 175px;
        min-width: 200px;
        max-width: 200px;
    }
    

    .image-size-2{
        min-height: 150px;
        max-height: 150px;
        min-width: 200px;
        max-width: 200px;
    }
    
    .paragraph {
        font-size: 18px;
        line-height: 1.5;
        color: rgba(0, 4, 4, 0.7);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        word-spacing: 200%;
    }

    .project-description-width {
        width: 80%;
    }
}




/* large */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #header-container {
        background: url("../images/background.jpg") no-repeat;
        width: 100%;
        height: 850px;
        background-position: 90% bottom !important;
        background-size: cover;
        margin-bottom: 80px !important;
    }
    
    #header-name {
        display: inline-block;
        font-family: 'Pacifico', cursive;  
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);    
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 80px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-top: 10%;
        padding-bottom: 22px;
    }
    
    #header-description {
        display: inline-block;
        font-family: 'Pacifico', cursive;
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);   
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        font-weight: 1200;
        margin-left: 5%;
        padding-bottom: 12px;
    }
    
    .profile-pic {
        height: 120px;
        border-radius: 50%;
    }
    
    .greetings {
        margin-top: 3%;
    }
    
    .about-me {
        width: 65%;
    }
    
    /* extra modified  classes */
    #education-head-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin: 0 !important;
    }

    .pu-college {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;
    }
    

    /* non-specific styling */
    .no-spacing {
        padding: 0;
        margin: 0;
    }
    
    .text-3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0dcfa2;
    }
        
    .text-4{
        color: #1d8e73;
    }
    
    .dotted-hr {
        border: dotted #184d4d 6px;
        border-bottom: none;
        width: 10%;
        margin: 100px auto;
    }
    
    .image-size-1 {
        min-height: 200px;
        max-height: 200px;
        min-width: 225px;
        max-width: 225px;
    }

    .image-size-2{
        min-height: 175px;
        max-height: 175px;
        min-width: 225px;
        max-width: 225px;
    }
    
    
    .paragraph {
        font-size: 20px;
        line-height: 1.5;
        color: rgba(0, 4, 4, 0.7);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        word-spacing: 200%;
    }

    .project-description-width {
        width: %;
    }
}





/* extra large */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #header-container {
        background: url("../images/background.jpg") no-repeat;
        width: 100%;
        height: 850px;
        background-position: 90% bottom !important;
        background-size: cover;
        margin-bottom: 80px !important;
    }
    
    #header-name {
        display: inline-block;
        font-family: 'Pacifico', cursive;  
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);    
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 80px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-top: 10%;
        padding-bottom: 22px;
    }
    
    #header-description {
        display: inline-block;
        font-family: 'Pacifico', cursive;
        background-image: linear-gradient(to right top, #674547, #5b3c44, #4d3340, #3f2c3c, #302536, #37263a, #3f273c, #48273e, #69303d, #814031, #885a22, #7c791f);   
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        font-weight: 1200;
        margin-left: 5%;
        padding-bottom: 12px;
    }
    
    .profile-pic {
        height: 120px;
        border-radius: 50%;
    }
    
    .greetings {
        margin-top: 3%;
    }
    
    .about-me {
        width: 65%;
    }
    
    /* extra modified  classes */
    #education-head-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin: 0 !important;
    }

    .pu-college {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;
        width: 80%;
    }
    

    /* non-specific styling */
    .no-spacing {
        padding: 0;
        margin: 0;
    }
    
    .text-3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0dcfa2;

    }
    
    .text-4{
        color: #1d8e73;
    }
    
    .dotted-hr {
        border: dotted #184d4d 6px;
        border-bottom: none;
        width: 10%;
        margin: 100px auto;
    }
    
    .image-size-1 {
        min-height: 200px;
        max-height: 200px;
        min-width: 250px;
        max-width: 250px;
    }

    .image-size-2{
        min-height: 200px;
        max-height: 200px;
        min-width: 250px;
        max-width: 250px;
    }
    
    
    .paragraph {
        font-size: 22px;
        line-height: 1.5;
        color: rgba(0, 4, 4, 0.7);
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        word-spacing: 200%;
    }

    .project-description-width {
        width: 65%;
    }
}


